<!-- base.html -->
{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome to our site{% endblock %}</title>
    <script src='https://cdn.tailwindcss.com'></script>
</head>

<body>
    <nav class='px-6 py-6 flex justify-between items-center border-b border-gray-200'>
        <a href="/" class="text-xl font-semibold">KinoApp</a>
        <div class="space-x-6">
            <a href="{% url 'movie:index' %}" class="text-lg font-semibold hover:text-gray-500">All Movie</a>
            <a href="{% url 'movie:create_movie' %}" class="text-lg font-semibold hover:text-gray-500">Add Movie</a>
        </div>
    </nav>
    <header>
        <!-- Здесь может быть ваш заголовок сайта, меню навигации и т.д. -->
    </header>

    <div class="px-6 py-6">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <!-- Здесь может быть футер, контактная информация и т.д. -->
    </footer>
</body>

</html>